<!-- The below code for navbar taken from bootstrap website -->
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active current">
                    <!-- Sending query parameters in our router link to the server i.e. page and order-->
                    <a routerLink="/followers" [queryParams]="{page: 1, order: 'newest'}">Followers</a></li>
                <li routerLinkActive="active current"><a routerLink="/posts">Posts</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- 
    In angular application we don't use href attribute of <a> element. Because, with this kind of navigation
    everytime we click on a link, the entire page is downloaded and the angular app is re-initialized. 

    That's why the page goes blank for a split second. Now, as your application grows, you've more code, the 
    cost of the startups is going to be higher. So, that delay will be even more. 

    Also, if you look at the browsers network tab, so everytime we click on any of the links in our application
    all the resources in our application are re-downloaded. So, as an example you can see, our all the javascript
    bundles are re-downloaded. This is something we want to avoid at all costs. Otherwise there is no point using 
    angular to build modern applications. 

    So, when we click on a link, we want only the content for the new page to be downloaded and not the entire 
    application or the entire resources. 

    So, to fix this problem we're going to use an attribute called 'routerLink' instead of the 'href' attribute.

    Router Link:
    1. For simple routes we can use a “routerLink” directive as an attribute and set it to a string value.
            Eg. <a routerLink=”/followers”>
    2. If you’re dealing with the route parameters, “use the property binding syntax” and set the value of 
        this property to an array and the first element in this array is the path and the subsequent elements 
        are the route arguments.
            Eg. <a [routerLink]=”[‘followers’, follower.id]”>

                Note: Open github-followers.component.html page to see this property binding syntx. 
-->