
<div class="panel panel-default">
    <div class="panel-heading">
        <!-- this is a injection point and so the consumer of this component will provide the content that should be placed here on runtime. -->
        <ng-content select=".heading"></ng-content>
    </div>
    <div class="panel-body">
        <!-- this is a injection point and so the consumer of this component will provide the content that should be placed here on runtime. -->
        <ng-content select=".body"></ng-content>
    </div>
</div>
